<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dart Hotels</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.8/components/card.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.8/components/image.min.css">
</head>
<body>

<h1 style="color: orangered; text-align: center">darthotel</h1>

<div id="hotels-wrapper">
    {{{ appServer }}}
</div>

<script async type="application/javascript" src="packages/react/react.js"></script>
<script async type="application/dart" src="client.dart"></script>
<script async type="application/javascript" src="packages/browser/dart.js"></script>

</body>
</html>